* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #000b0f;
}

input {
  all: unset;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sub-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
