.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 4rem;
  padding-top: 0.3rem;
}

/* Guild DropDown Menu  */

.select-guild {
  display: flex;
  position: absolute;
  flex-direction: column;
  font-size: 12px;
  color: #d3a78a;
  background-color: #000b0f;
  font-family: "inter", sans-serif;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  width: 13rem;
  max-height: 2rem;
  min-height: 2rem;
  top: 1.2rem;
  transition: 0.2s;
  border-color: #d3a78a;
  &:focus {
    max-height: 10rem;
    min-height: 2rem;
    border-radius: 15px 15px 5px 5px;
  }
  &:focus .selected-guild-icon {
    rotate: 180deg;
  }
  &:focus .guild-list {
    display: flex;
  }
}

.selected-guild {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2rem;
  min-width: 100%;
  cursor: pointer;
}

.selected-guild-pic {
  margin-left: 0.3rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: #d3a78a;
}

.selected-guild-title {
  margin-left: 0.5rem;
}

.selected-guild-icon {
  margin-left: auto;
  margin-right: 0.5rem;
  transition: 0.5s;
}

.guild-list {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  max-height: 20rem;
  overflow: auto;
  padding: 0.5rem;
  &::-webkit-scrollbar {
    width: 0.5rem;
    scroll-padding: 10000px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d3a78a;
    border-radius: 10px;
  }
}

.guild-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  min-height: 2rem;
  cursor: pointer;
  color: #d3a78a;
  &:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 26, 35, 1) 0%,
      rgba(0, 26, 35, 1) 0%,
      rgba(0, 11, 15, 0) 100%
    );
  }
}

/* Profile Menu  */

.menu-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
  cursor: pointer;
}

.menu-profile-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0,
    rgba(211, 167, 138, 1) 0%,
    rgba(0, 117, 154, 1) 100%
  );
  border-radius: 10px;
  width: 2.4rem;
  height: 2.4rem;
}

.menu-profile-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #000b0f;
}

.menu-notification {
  color: #001a23;
  padding-right: 1rem;
}
