@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000b0f;
}

input {
  all: unset;
}

input::-webkit-slider-thumb {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: #001a23;
  border-radius: 10px;
}
