.selectguild-vp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.selectguild-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  color: #fff;
  font-family: "inter", sans-serif;
}

.selectguild-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 100%;
  overflow-y: auto;
}

.selectguild-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.selectguild-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5rem;
  width: 50rem;
  margin-bottom: 1rem;
  color: #fff;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      90deg,
      rgba(0, 26, 35, 1) 0%,
      rgba(0, 26, 35, 1) 0%,
      rgba(0, 11, 15, 0) 100%
    );
  }
}

.selectguild-item-pic {
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  background-color: #003344;
}

.selectguild-item-name {
  font-size: 1.5rem;
}
